div(class="row")
  div(ng-repeat="pane in panes" ng-show="$first" class="box column six pane {{pane.name}}")
    h1 {{pane.name}}
    button
      a(href='#add') Add Transaction
  div(ng-repeat="pane in panes" ng-hide="$first" class="box column six pane")
    h1 {{pane.name}}
    button(ng-click="removePane(pane.name)") x
    button(ng-click="commitPane()") commit
    button
      a(href='#edit') Edit Transaction
  div(class="box column six pane add" ng-click="addPane()") +
div(class="row")
  div(class="box column twelve graph")
