extend layout
block content
  header
    a(href='#')
      h1 &#162;flo
  div(class="container")
    div(ng-view)
    div(class="row")
      div(class="box column twelve graph")
        canvas(id="myChart" width="940px" height="480px")
