doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title &#162;flo #{title}
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/grid.css')
  body
    block content
    script(src='/js/angular.min.js')
  footer
    p &copy; 2014 &#162;flo
