doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title &#162;flo #{title}
    link(rel='stylesheet', href='/styles/type.css')
    link(rel='stylesheet', href='/styles/font-awesome.min.css')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/grid.css')
  body
    block content
    script(src='/js/angular.min.js')
  footer
    p &copy; 2014 &#162;flo
