// boxojoe standards //

// colors

OFF_WHITE = #FDFDFD
COFFEE_BROWN = #603920
MUTE_ORANGE = #C86D5B
BLUE = #85A0D6
RED = lighten(#7A292E, 20%)
LIGHT_RED = #C45A5E

// greater movements
.cf:before,
.cf:after
  content " "
  display table

.cf
  *zoom 1
  &:after
    clear both

.justify-align
  text-align justify

.pull-right
  float right

.pull-left
  float left

// global
html, body
  margin 0
  padding 0
  background OFF_WHITE
  font-family 'Lato', Helvetica, sans-serif

ul
  list-style none
  display inline-block
  margin 0 0.5%
  text-align center
  width 100%
  padding 0

table
  text-align left
  padding 30px
  th, td
  padding 0 30px 0 30px


// typography
h1, h2, h3, h4, h5, h6, p, a
  color #333

h1
  letter-spacing -2px
  font-weight 300
  font-size 40px
  margin 0px 0px 0px 0px

h2, label
  margin 10px 0 40px 0
  font-weight 200
  text-transform uppercase

a
  font-weight 400
  letter-spacing 0px
  text-decoration none
  -webkit-transition color 0.2s linear
  -moz-transition color 0.2s linear
  -ms-transition color 0.2s linear
  -o-transition color 0.2s linear
  transition color 0.2s linear
  &:hover
    color: darken(BLUE, 10%)

button
  border 2px solid BLUE
  background none
  text-transform uppercase
  color BLUE
  cursor pointer
  outline none
  a
    text-decoration none
    color inherit
  &:hover
    border 2px solid lighten(BLUE, 20%)
    color lighten(BLUE, 20%)
    a
      color lighten(BLUE, 20%)

header
  margin 0 auto 20px 0
  width 100%
  text-align center
  height 60px
  background #eee
  border-bottom 1px solid #ddd
  h1
    color RED
    margin 0
    padding 5px

footer
  margin 0 auto
  width 100%
  text-align center


// panes
.box
  text-align center
  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  border 1px solid #ddd
  border-radius 5px

.pane
  height 300px

// graph
.graph
  height 500px

.add
  background #eee
  -webkit-transition 0.3s linear
  -moz-transition 0.3s linear
  -ms-transition 0.3s linear
  -o-transition 0.3s linear
  transition 0.3s linear
  cursor pointer
  font-size 230px
  &:hover
    background darken(BLUE, 10%)
    color lighten(BLUE, 40%)

.add a
  margin 0
  padding 0
  text-decoration none
  background none
  border none
